 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: black;
  background: white;
}

.blatts {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border: 6px double lightgray;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 100px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 25px;
    margin-top: 25px;
      }
  img {
    overflow: auto;
    width: 465px;
    border-radius: 4px;
      }
  button {
    padding-left: 6px;
    padding-right: 6px;
    background: black;
    color: white;
    background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
      }
}
